/* Defifnes colors */

:root{
	
	/* Arrière plan du menu */
	--color-background-menu: #205070;
	
	/* Arrière plan de la page de login */
	--color-background-splashscreen: #4ba9c7;
	
	/*  */
	--color-titleorplaceholder-text: #4ba9c7;
	
	/* */
	--color-background-title-menu: #123346;
	
	/* */
	--color-separator-menu: #47697b;
	
	/* */
	--color-li-touchstart: #da328a;
    
    /* Background jaune consigne du jour */
    --color-consigne: #eae672;
	
	--color-past : rgba(224,224,224,0.8);
	
	/* Dédicace à Arthur */
	--color-bleu-clair-ubi: #00B9D2;
	
	--color-bleu-moyen-ubi: #00A1C3;
	
	--color-bleu-fonce-ubi: #0086B1;
	
	--color-rose-ubi: #DA328A;
	
}