/* header */

.header
{
	top: 0px;
	background-color: var(--color-background-splashscreen);
	font-size:16px;
	text-align: center;
	line-height: 40px;
	height: 55px;
	width:100%;
	position:absolute;
	Z-index:1;
}

.headerSub {
	padding-top: 15px;
}

a.menu_right
{
	position: absolute;
	height: 40px;
	width:40px;
	right: 0px;
}

a.menu_right_calendar {
	font-size:12px;
	line-height: 46px;
	right:40px;
	background:url('../img/header/icon-Calendar.png') no-repeat center center;
	background-size:22px auto;
	color: white;
}

a.menu_right_plus {
	background:url('../img/header/icon-Plus.png') no-repeat center center;
	background-size: 22px auto;
	right: 5px;
}

a.menu_right_search {
	background-size: 30px auto;
	top: 20px;
	right: 8px;
	background-image: url('../img/menu/icon-Search.png');
	height: 30px;
	width: 30px;
}

a.menu_left {
	position: absolute;
	left: 0px;
	background:url('../img/menu/icon-Menu.png') no-repeat center center;
	background-size: 22px auto;
	height: 40px;
	width:40px;
}

a.menu_right_bookmark {
	font-size:12px;
	line-height:50px;
	right:40px;
	background:url('../img/header/icon-Bookmark.png') no-repeat center center;
	background-size:22px auto;
}

a.menu_right_newmessage {
	background:url('../img/header/icon-NewMessage.png') no-repeat center center;
	background-size:22px auto;
	right: 5px;
}

a.menu_right_check {
	background:url('../img/header/icon-Check.png') no-repeat center center;
	background-size:22px auto;
	right: 5px;
}

a.menu_right_send {
	background:url('../img/header/icon-Send.png') no-repeat center center;
	background-size:22px auto;
	right: 5px;
}

a.menu_left_back {
	background:url('../img/header/icon-Back.png') no-repeat center center;
	background-size: 22px auto;
}

a.menu_right_trash {
	right:80px;
	background:url('../img/header/icon-TrashWhite.png') no-repeat center center;
	background-size:22px auto;
}

a.menu_right_lu {
	text-indent:-5px;
	font-size:12px;
	line-height:48px;
	right:40px;
	background:url('../img/header/icon-Read.png') no-repeat center center;
	background-size:22px auto;
}

a.menu_right_forward {
	background:url('../img/header/icon-Forward.png') no-repeat center center;
	background-size:22px auto;
}


.m_select{
	position: absolute;
	height: 40px;
	line-height: 40px;
	min-width:110px;
	left:40px;
	padding-right:15px;
	color: white;
}
.m_select:after{
	content:'';
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 0 10px 10px;
	border-color: transparent transparent white transparent;
	position:absolute;
	right:0;
	bottom:8px;
}

.m_select_search {
	min-width:100px;
}

.m_select_messages {
	min-width:80px;
}




.divSv {
	position:relative;
	left:40px;
}

.divTitle {
	position:absolute;
	right:40px;
	left:40px;
	white-space:nowrap;
	overflow:hidden;
	color: white;
	text-overflow:ellipsis;
}

.divTitleConsigne {
    position: absolute;
    right: 40px;
    left: 40px;
    text-align: center;
    padding: 8px;
}

.divConsigne {
    -webkit-user-select:auto;
    user-select:auto;
    font-style:italic;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
    margin: 15px;
    padding: 10px;
    background: var(--color-consigne);
    box-shadow: 0 10px 10px 2px rgba(94,94,94,0.3);

}

