/* CSS Page Login */
.divContentLogin {
	background-color: var(--color-background-splashscreen);
	width: 100%;
	height: 100%;
}

.tableLogin {
	padding:8px;
	width:100%;
	position:absolute;
	top:30%;
	border-collapse:separate;
	border-spacing:1em;
}

.inputLogin {
	color: var(--color-background-splashscreen);
	width: 90%;
	font-size : 13px;
	border: none;
}

/* do not group these rules */
*.inputLogin::-webkit-input-placeholder {
	color: var(--color-titleorplaceholder-text);
}

#consolebuttonLogin {
	border: none;
	width: 100%;
	background: none;
	color: white;
	font-size: 15px;
}

.trTableLogin {
	text-align: center;
}

.divInputLogin {
	background: white;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius:3px;
	
}

.divButtonLogin {
	background: var(--color-background-menu);
	border-radius: 3px;
	padding-top: 8px;
	padding-bottom: 8px;
	
}

#imgLogoUbi {
    content: url('../img/logo_ubicentrex_blanc.png');
    width: 80%;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    display: block;
    position: relative;
    top: 40%;
}





