* {
	font-family:'Open Sans','HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}


html, body
{
overflow:hidden;
position:absolute;
margin: 0;
top:0;
bottom:0;
right:0;
left:0;
-webkit-user-select:none;
user-select:none;	
}

div{
display:block;
}

/*page, header,content, footer========================================================================*/
.page{
position:absolute;
width:100%;
height:100%; 
}

.page.center {
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}

.page.right {
-webkit-transform: translate3d(100%, 0, 0);
transform: translate3d(100%, 0, 0);
}

.page.left {
-webkit-transform: translate3d(-100%, 0, 0);
transform: translate3d(-100%, 0, 0);
}

.page.top {
-webkit-transform: translate3d(0,-100%, 0);
transform: translate3d(0,-100%, 0);
}

.page.transparent{
background:rgba(0, 0, 0, 0.4);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3363370b,endColorstr=#3363370b);
}

.page.nav_open {
-webkit-transform: translate3d(82%, 0, 0);
transform: translate3d(82%, 0, 0);
}

.page.transition1 {
-webkit-transition: all .25s ease-out;
transition: all .25s ease-out;
}

.page.transition2 {
-webkit-transition: all .35s ease-out;
transition: all .35s ease-out;
}

.page.transition3 {
-webkit-transition: all .45s ease-out;
transition: all .45s ease-out;
}

.pop{
background:#f5f5f5;  
}

.pop.small{
opacity: 0;
-webkit-transform: scale(.9);
-moz-transform: scale(.9);
-ms-transform: scale(.9);   
}

.pop.big{
opacity: 1;
-webkit-user-select:none;
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
background:#fff;
}

.pop.under_btm{
-webkit-transform: translate3d(0, 100%, 0);
}

.pop.btm{
-webkit-transform: translate3d(0, 0 , 0);
}

.pop.transition {
-webkit-transition: all .15s ease-in-out;
-moz-transition: all .15s ease-in-out;
-ms-transition: all .15s ease-in-out;
}

.pop.transition2 {
-webkit-transition: all .1s ease-in-out;
-moz-transition: all .1s ease-in-out;
-ms-transition: all .1s ease-in-out;
}





.content
{
background:#fff;
font-size: 16px;
width:100%;
position:absolute;
top:0;
bottom:0;
width:100%;
Z-index:0;
}

.content div.cadre
{
position: absolute;
top: 3px;
bottom:0px;
right:3px;
left:3px;
padding:0px 2px 1px 2px;
overflow-y:scroll;
-webkit-overflow-scrolling: touch;
}

.footer
{
bottom: 0;
background: #B0E0E6;
font-size: 16px;
color: #fff;
text-align: center;
line-height: 40px;
height: 40px;
width:100%;
position:absolute;
Z-index:1;
}

.footer a.menu_right
{
position: absolute;
height: 40px;
width:40px;
right: 0px;
}


/*
 * CSS animated rainbow dividers of awesome 
 * by Chris Heilmann @codepo8 and Lea Verou @leaverou 
**/
@-moz-keyframes charlieeee {
  from { background-position:top left; } 
  to {background-position:top right; }
}
@-webkit-keyframes charlieeee { 
  from { background-position:top left; }  
  to { background-position:top right; }  
}
@-o-keyframes charlieeee { 
  from { background-position:top left; }  
  to { background-position:top right; }  
}
@-ms-keyframes charlieeee { 
  from { background-position:top left; }  
  to { background-position:top right; }  
}
@-khtml-keyframes charlieeee { 
  from { background-position:top left; }  
  to { background-position:top right; }  
}
@keyframes charlieeee { 
  from { background-position:top left; }  
  to { background-position:top right; }  
}
.catchadream{
background-image:-webkit-linear-gradient(left, red, yellow, green, violet);
background-image:-moz-linear-gradient(left, red, yellow, green, violet);
background-image:-o-linear-gradient(left, red, yellow, green, violet);
background-image:-ms-linear-gradient(left, red, yellow, green, violet);
background-image:-khtml-linear-gradient(left, red, yellow, green, violet);
background-image:linear-gradient(left, red, yellow, green,, violet);
-moz-animation:charlieeee 2.5s forwards linear infinite;
-webkit-animation:charlieeee 2.5s forwards linear infinite;
-o-animation:charlieeee 2.5s forwards linear infinite;
-khtml-animation:charlieeee 2.5s forwards linear infinite;
-ms-animation:charlieeee 2.5s forwards linear infinite;
-lynx-animation:charlieeee 2.5s forwards linear infinite;
animation:charlieeee 2.5s forwards linear infinite;
background-size:50% auto;

height:3px;
width:100%;
position:absolute;
bottom:0;
left:0;
border:none;
margin:0;
}

/*text===============================================================*/
.text{
width:100%;
}

.text input{
position:relative;
width:97%;
border:0;
padding: 10px 10px 0px 10px;
margin:0px;
-webkit-tap-highlight-color: transparent;
background:transparent;
font-size:14px;
}

.text .editable_div{
position:relative;
min-height:25px;
border:0;
margin:10px 10px 0px 10px;
-webkit-tap-highlight-color: transparent;
display: inline-block;
background:transparent;
-webkit-user-select:auto;
user-select:auto;
font-size:14px;
}

.text .editable_div:after{
content:".";
height:0;
visibility:hidden;
display:block;
clear:both;
}

.text .editable_div[placeholder]:empty:not(:focus):before {
content: attr(placeholder);
color: #b3b3b3; 
}

.text .editable_div:focus , .text input:focus{
outline: 0;
}

.text .editable_div:focus + div , .text input:focus + div{
outline: 0;
border-right: 1px solid #0066FF;
border-left: 1px solid #0066FF;
border-bottom: 1px solid #0066FF;
}

.text div.text_base{	
border-right: 1px solid #bbb;
border-left: 1px solid #bbb;
border-bottom: 1px solid #bbb;
height:4px;
right:0px;
left:0px;
top:-3px;
position:relative;
}

/*table style=========================================================*/
.struct{
padding:8px;
width:100%;
}

/*div basic style===================================================*/
.bdiv{
top:0;
left:0;
height:100%;
width:100%;
position:absolute;
overflow:hidden;	
}

.bdiv.scr{
overflow-y:scroll;
-webkit-overflow-scrolling: touch;
}

.bdiv.transition{
-webkit-transition: all .25s ease-out;
transition: all .25s ease-out;
}


/*button style=========================================================*/
.btn{
background:#3399CC;
color: #fff;
min-width:50px;
line-height: 36px;
height: 36px;
text-align:center;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
-webkit-tap-highlight-color: #CCFFFF;
}

/* checkbox============================================================*/
input[type=checkbox] {
outline: none;
width: 60px;
height: 28px;
font-size: 12px;
line-height: 2;
float:right;
position:relative;
font-weight: bold;
border-radius: 3px;
border: 1px solid #B9B9B9;
-webkit-appearance: none;
 
background-image: -webkit-gradient( 
  linear, left top, left bottom,
  color-stop(0, #E8E8E8),
  color-stop(0.5, #E8E8E8),
  color-stop(0.5, #FDFDFD),
  color-stop(1, #FDFDFD)
);
box-shadow: 0px 1px 2px #AFAFAF inset;
color: #7F7F7F;
}
 
input[type=checkbox]:checked {
background-image: -webkit-gradient( 
   linear, left top, left bottom,
   color-stop(0, #367EF8),
   color-stop(0.5, #367EF8),
   color-stop(0.5, #66A3F8),
   color-stop(1, #66A3F8)
);
box-shadow: 0px 1px 2px #1449A3 inset;
color: #fff;
text-shadow: 0px -1px 1px #000;
border: 1px solid #99B9E8;
}
 
input[type=checkbox]:before {
content: '';
border-radius: 3px;
border-top: 1px solid #F7F7F7;
border-right: 1px solid #999999;
border-bottom: 1px solid #BABABA;
border-left: 1px solid #BDBDBD;
background-image: -webkit-gradient( 
  linear, left top, left bottom,
  color-stop(0, #D8D8D8),
  color-stop(1, #FBFBFB)
);
height: 25px;
width: 28px;
display: inline-block;
text-indent: 31px;
}
 
input[type=checkbox]:checked:before {
content: '';
text-indent: -27px;
margin-left: 30px;
}


/*picker style=========================================================*/
.pic{
position:relative;
Z-index:0;
overflow-y:hidden;
-webkit-tap-highlight-color: transparent;
background: transparent;
border-radius:inherit;
margin:15px 0px 0px 15px;
float:left;
top:0px;
}

.dwwu {
position: absolute;
z-index: 4;
top: 0;
left: 0;
width: 100%;
height:50px;
background:#fff;
opacity:0.7;
pointer-events: none;
border-bottom:1px solid #FF6633;
}

.dwwd {
position: absolute;
z-index: 4;
bottom: 0;
left: 0;
width: 100%;
height:50px;
background:#fff;
opacity:0.7;
pointer-events: none;
border-top:1px solid #FF6633;
}

.pic_li{
position:relative;
top:0px;
Z-index:2;
text-align:center;
font-size:20px;
width:100%;
-webkit-tap-highlight-color: transparent;
}

/*tab navigation*/
.tab{
position:relative;
top:0;
right:0;
width:100%;
height:100%;
overflow:hidden;
}

.tab .scrollbar{
position:absolute;
top:40px;
-webkit-transform: translate3d(0, 0, 0);
height:3px;
Z-index:3;
background:green;
}

.tab .title{
position:absolute;
height:42px;
left:0;
width:100%;
border-bottom:1px solid #ccc;
overflow:hidden;
text-align:center;
}

.tab .title .item{
position:relative;
top:0px;
left:0px;
height:43px;
line-height:42px;
float:left;
overflow:hidden;
text-transform:uppercase;
color:#666;
}
.tab .title .item.selected{
color:green;
}

.tab .ctn{
position:absolute;
-webkit-transform: translate3d(0, 0, 0);
top:43px;
bottom:0;
Z-index:1;
overflow:hidden;
}

.tab .transition{
-webkit-transition: all .3s ease-out;
transition: all .3s ease-out;
}

.tab .ctn .item{
position:relative;
top:0;
left:0;
float:left;
height:100%;
}

.toast{
position:absolute;
bottom:20px;
Z-index:100;
background-color:#333;
color:#eee;
max-width:300px;
text-align:center;
margin:0px auto;
padding:3px;
border-radius:5px;
}



.week_title{
Z-index:10;
width:100%;
top:0;
left:0;
position: relative;
background:#fafafa;
border-bottom: 1px solid black;
}

.week_title tr td{
text-align:center;
font-size:10px;
}

/*agenda mensuel=====================*/
.mensuel{
Z-index:0;
position: absolute;
top:20px;
bottom:0;
left:0;
right:0;
font-size:11px;
background:#f1f1f0;
}

.mensuel div.ctn{
Z-index:0;
position: absolute;
width:100%;
height:300%;
}

.mensuel div.ctn.transition {
-webkit-transition: all .25s ease-out;
transition: all .25s ease-out;
}

.mensuel div.ctn table{
position: relative;
width:100%;
height:33.33%;
border-collapse:collapse;
font-size:11px;
table-layout:fixed;
overflow:hidden;
}

.mensuel table tr{
position:relative;	
}

.mensuel table tr td{
vertical-align:top;
border:1px solid #ccc;
height:16.7%;
overflow:hidden;
-webkit-tap-highlight-color:transparent;
}

.mensuel table tr td .rdv_mensuel{
margin:1px 1px 0px 1px;
white-space:nowrap;
overflow:hidden;
font-size:8px;
height:9px;
line-height:9px;
}

.mensuel table tr td.selected{
background:#FFEBCD;
}

.mensuel_jour_title{
height:17px;
line-height:17px;
background:#222;
color:#fff;
font-size:16px;
width:100%;
-webkit-border-radius: 2px 2px 0px 0px;
border-radius: 2px 2px 0px 0px;
padding-bottom: 4px;
padding-top: 4px;
text-align: center;
}

.mensuel_ajouter_rdv {
    height:17px;
    line-height:17px;
    background:#fff;
    color:#000;
    font-size:16px;
    width:100%;
    -webkit-border-radius: 2px 2px 0px 0px;
    border-radius: 2px 2px 0px 0px;
    display: inline-flex;
	margin: 6px;
	text-align: center;
}

.mensuel_ajouter_rdv img {
    width: 17px;
    height: 17px;
}

.mensuel_jour{
overflow-y:scroll;
-webkit-overflow-scrolling: touch;
font-size:16px;
background:#F8F8F8;
}

.mensuel_jour p, .mensuel_ajouter_rdv p {
margin:0;
height:20px;
line-height:20px;
width:100%;
white-space:nowrap;
overflow:hidden;
}

/*agenda semaine=====================*/
.week{
Z-index:0;
position:absolute;
left:0;
top:0;
width:300%;
height:100%;
overflow:hidden;
}

.week.transition {
-webkit-transition: all .25s ease-out;
transition: all .25s ease-out;
}

.week div{
Z-index:0;
position: relative;
float:left;
left:0;
height:100%;
width:33.3%;
}

.week div .ctn{
Z-index:0;
position: relative;
top:-1px;
left:0;
height:98%;
width:100%;
overflow-y:scroll;
-webkit-overflow-scrolling: touch;
}

.week div .ctn table{
position: absolute;
width:100%;
border-collapse:collapse;
background:#f1f1f0;
font-size:10px;
}

.week div .ctn table tr td{
position:relative;	
vertical-align:center;
}

.week div .ctn  table tr .tdHoursMinutes {
	background:#fafafa;
}

.week div .ctn table tr .tdRdv{
	border:1px solid #c6c6c6;
	background:#f1f1f0;
	
}



.week div .ctn table tr td .rdv_week{
position:absolute;
Z-index:2;
top:0;
overflow:hidden;
-webkit-border-radius: 2px;
border-left:1px solid #ccc;
border-radius: 2px;
}

.week div .ctn table tr td .creneau_week{
position:absolute;
Z-index:1;
width:100%;
top:0;
left:0;
font-size:10px;
color:#aaa;
}

.week div .ctn table tr td .creneau_indispo_week{
position:absolute;
Z-index:1;
top:-1px;
left:0px;
width:100%;
overflow:hidden;
font-size:10px;
pointer-events: none;
color:#aaa;
text-align:center;
}

.week div .ctn table tr td .past{
position:absolute;
Z-index:10;
top:-1px;
left:0px;
width:100%;
overflow:hidden;
pointer-events: none;
opacity:0.2;
background:#6699CC;
}

/*agenda jour==========================*/
.day{
Z-index:0;
position: absolute;
top:0;
left:0;
height:100%;
width:300%;
background:#fbfbfb;
overflow:hidden;
}

.day.transition {
-webkit-transition: all .25s ease-out;
transition: all .25s ease-out;
}

.day .ctn{
position: relative;
top:0;
left:0;
width:33.3%;
height:100%;
float:left;
overflow:scroll;
-webkit-overflow-scrolling: touch;
}

.day .ctn div{
position: absolute;
top:0;
left:0;
width:100%;
}

.day .ctn div table{
position: absolute;
top:0;
left:0;
width:100%;
border-collapse:collapse;
font-size:15px;
}

.day .ctn div table tr .tdHoursMinutes {
	background:#fafafa;
}

.day .ctn div table tr .tdRdv{
	border:1px solid #c6c6c6;
	background:#f1f1f0;
	
}

.day .ctn div table tr td{
position:relative;	
vertical-align:center;

}

.day .ctn div table tr td .rdv_day{
position:absolute;
Z-index:2;
top:0;
overflow:hidden;
-webkit-border-radius: 4px;
border-left:1px solid #ccc;
border-radius: 4px;
}

.day .ctn div table tr td .creneau_day{
position:absolute;
Z-index:1;
width:100%;
top:0;
left:0;
color:#aaa;
}

.day .ctn div table tr td .creneau_indispo_day{
position:absolute;
Z-index:1;
top:-1px;
left:0px;
width:100%;
overflow:hidden;
pointer-events: none;
color:#aaa;
text-align:center;
}

.day .ctn div table tr td .past{
position:absolute;
Z-index:10;
top:-1px;
left:0px;
width:100%;
overflow:hidden;
pointer-events: none;
opacity:0.2;
background:#6699CC;
}

/*contact======================================================*/
.triangle{
position: relative;
height: 100%;
line-height: 100%;
}

.triangle:after{
content:'';
width: 0px;
height: 0px;
border-style: solid;
border-width: 0 0 10px 10px;
border-color: transparent transparent #777 transparent;
position:absolute;
right:0;
bottom:0;
}

/* Select supervision */
.select{
	position:relative;
	width:100%;
	height:36px;
	border-bottom:1px solid #bbb;
}

.select:after{
	content:'';
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 0 10px 10px; 
	border-color: transparent transparent white transparent;
	position:absolute;
	right:0;
	bottom:-1px;
}
.select div{
	height:36px;
	line-height:36px;
	width:95%;
	line-height:40px;
	margin-left:10px;
	overflow:hidden;
	display:inline-block;
	color: white;
}
.select_item{
	position:relative;
	width:100%;
	height:39px;
	line-height:39px;
	border-top:1px solid #fff;
	border-bottom:1px solid #ccc;
	background:#f5f5f5;
	white-space:nowrap;
	overflow:hidden;
	text-indent: 5px;
}

.select_item.selected{
	color:blue;
}

.select_item .exp{
	position:relative;
	height:39px;
	line-height:39px;
	white-space:nowrap;
	overflow:hidden;
	color:#888;
	font-size:12px;
	float:right;
	margin-right:2px;
}

.selectRdv div {
	height:36px;
	line-height:36px;
	width:95%;
	line-height:40px;
	margin-left:10px;
	overflow:hidden;
	display:inline-block;
	color: gray;
}

.selectSync div  {
	height:36px;
	line-height:36px;
	width:95%;
	line-height:40px;
	margin-left:10px;
	overflow:hidden;
	display:inline-block;
	color: gray;
}

.divRdvMensuel {
	text-align: center;
	padding: 5px;
	border: 1px solid black;
}

.divAgent {
	font-size:12px;
	position:absolute;
	width:98%;
	left:1%;
	height: 80%;
	bottom:0;
	overflow:scroll;
	ebkit-overflow-scrolling:touch;
}

.tableNbAppel {
	font-size:13px;
	position:absolute;
	width:99%;
	height:20%;
	top:0;
}

.day .tdHoursMinutes {
	width:34px;
	border:0;
	font-size:9px;
}

.day .tdHoursMinutes div {
	width:100%;
	text-align: center;
	font-size: 11px;
	font-style: bold;
}

.week .tdHoursMinutes {
	width:34px;
	border:0;
	font-size:7px;
}

.week .tdHoursMinutes div {
	width:100%;
	text-align: center;
	font-size: 11px;
	font-style: bold;
}