/* CSS Menu Login */
.divContentMenu {
	background-color: var(--color-background-menu);
	width: 100%;
	height: 100%;
}

.linkProfileMenu {
	position:absolute;
	height:45px;
	width:45px;
	border-radius:40px;
	background:yellow url('../img/menu/icon-User.png') no-repeat center center;
	background-size:27px auto;
}

.imgProfile {
	content: url('../img/menu/icon-User.png');
	height:65px;
	width:65px;
}

.divUser {
	
	padding-top: 10px;
	height: 25%;
	width: 82%;
	text-align: center;
	
	/*
	position:absolute;
	top:8px;
	right:20%;
	height:40px;
	line-height:40px;
	width:67%;
	Z-index:0;
	white-space:nowrap;
	overflow:hidden;
	 */
}

.pNomUsuel {
	font-size:16px;
	color: white;
}

.ulMenu li.title{
	border:0;
	height:20px;
	line-height:20px;
	padding-left:10px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size:16px;
	background-color: var(--color-background-title-menu);
	color: var(--color-titleorplaceholder-text);
}

.ulMenu{
	list-style: none;
	margin: 0;
	padding: 0;
	position:absolute;
	height:75%;
	width:100%;
	left:0px;
	bottom:0px;
	background-color: var(--color-background-menu);
	overflow-y:scroll;
	-webkit-overflow-scrolling: touch;
}

.ulMenu li{
	border-bottom: 1px solid var(--color-separator-menu);
	-webkit-tap-highlight-color: transparent;
	background-repeat: no-repeat;
	background-position: 6px center;
	background-size: 22px 22px;
	color: white;
	font-size: 15px;
}

.ulMenu li a{
	height:40px;
	line-height:40px;
	padding-left:34px;
}

.ulMenu li div.ind{
	position:relative;
	right:80px;
	top:9px;
	color:#ffffff;
	text-align:center;
	float:right;
	height:22px;
	line-height:22px;
	min-width:30px;
	background:red;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font-size:16px;
}

.liMenu:active {
	color: var(--color-li-touchstart);
}


#liMenuSearch {
	background-image:url('../img/menu/icon-Search.png');
}

#liMenuPlanning {
	background-image:url('../img/menu/icon-Planning.png');
}

#liMenuContacts {
	background-image:url('../img/menu/icon-Contacts.png');
}

#liMenuMessages {
	background-image:url('../img/menu/icon-Messages.png');
}

#liMenuSupervision {
	background-image:url('../img/menu/icon-Supervision.png');
}

#liMenuNonLu {
	background-image:url('../img/menu/icon-Nonlu.png');
}

#liMenuPreferences {
	background-image:url('../img/menu/icon-Preferences.png');
}

#liMenuSync {
	background-image:url('../img/menu/icon-Sync.png');
}

#liMenuAbout {
	background-image:url('../img/menu/icon-Apropos.png');
}

